### My dry oatmeal and yogurt mix: How much of what ingredient is in my typical bowl?

In my small Ikea bowl, the kind that gets black marks inside (not the big ones I bought at Rewe, in Kassel).

In [1]:
import pandas as pd

nBowlsPerBigContainer = 13 # it was somewhere betweed 12 and 14, I think

In [2]:
# What goes into my big plastic cereal container
ingredient_grams=pd.DataFrame(pd.Series(dict(Oats=407, Walnuts=138, Almonds=100, 
                              PumpkinSeeds=70, FlaxSeeds=80, ChiaSeeds=72))).T
ingredient_grams.index = ['Big Plastic']
ingredient_grams = ingredient_grams.rename_axis('Container')
ingredient_grams.columns.name='Ingredient'

# Dry ingredients in one bowl
ingredient_grams.loc['Bowl'] = ingredient_grams.loc['Big Plastic'] / nBowlsPerBigContainer

# Yogurt and fruit in one bowl
ingredient_grams.loc[('Bowl','Yogurt1Pct')] = 240
ingredient_grams.loc[('Bowl','Raspberries')] = 108
ingredient_grams.T

Container     Big Plastic        Bowl
Ingredient
Oats                407.0   31.307692
Walnuts             138.0   10.615385
Almonds             100.0    7.692308
PumpkinSeeds         70.0    5.384615
FlaxSeeds            80.0    6.153846
ChiaSeeds            72.0    5.538462
Yogurt1Pct            NaN  240.000000
Raspberries           NaN  108.000000

In [3]:
ingredient_grams.loc['Bowl']

Ingredient
Oats             31.307692
Walnuts          10.615385
Almonds           7.692308
PumpkinSeeds      5.384615
FlaxSeeds         6.153846
ChiaSeeds         5.538462
Yogurt1Pct      240.000000
Raspberries     108.000000
Name: Bowl, dtype: float64