### Compute total US Mileage driven vs. Trip Len
Data for May 2023 from [US Bureau of Transportation Studies](https://www.bts.gov/browse-statistical-products-and-data/covid-related/distribution-trips-distance-national-state-and)

**Conclusion** 
* About 70% ot total miles driven are on trips under 50 miles long
* So a 50 mile battery would improve a car's average gas mileage by about 70%
* Approximately...
  * missing bin in data between 100-25 miles and 500+ miles
  * Long trips are probably highway speeds, so worse MPG
  * But short trips are probably city driving, where hybrids are most efficient

In [2]:
import numpy as np
import pandas as pd

In [18]:
df = pd.DataFrame(dict(milesMin=[0, 1, 3, 5, 10, 25, 50, 100, 500],
                       milesMax=[1, 3, 5, 10, 25, 50, 100, 250, 1000],
                       num = [420.7, 350.3, 178.7, 229.0, 217.9, 68.1, 
                              21.7, 9.3, 1.3]))


df['milesMn'] = df.milesMin + (df.milesMax-df.milesMin)/2
df['milesMnTot'] = df.milesMn * df.num
df['milesMnTotCum'] = df.milesMnTot.cumsum()
df['milesMnTotCumPct'] = 100* (df.milesMnTotCum / df.milesMnTotCum.iloc[-1])
df

,milesMin,milesMax,num,milesMn,milesMnTot,milesMnTotCum,milesMnTotCumPct
0,0,1,420.7,0.5,210.35,210.35,1.508940
1,1,3,350.3,2.0,700.60,910.95,6.534675
2,3,5,178.7,4.0,714.80,1625.75,11.662273
3,5,10,229.0,7.5,1717.50,3343.25,23.982712
4,10,25,217.9,17.5,3813.25,7156.50,51.336956
5,25,50,68.1,37.5,2553.75,9710.25,69.656211
6,50,100,21.7,75.0,1627.50,11337.75,81.331038
7,100,250,9.3,175.0,1627.50,12965.25,93.005864
8,500,1000,1.3,750.0,975.00,13940.25,100.000000